*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box !important;
}

.display {
    display: none;
}

#timeLine {
    height: 20px;
    text-align: center;
    #countdown {
        line-height: 20px;

    }
    
}
